In [6]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\lenovo\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\lenovo\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105797 sha256=9f9939b68da6ee48b91683a0f00fc1d93f4c6b241d1fee4cef26a5b831533ca6
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [8]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [119]:
import zipfile

In [121]:
import zipfile

zip_path = r"C:\Users\Lenovo\project\Retail order data analysis\orders.csv.zip"
extract_path = r"C:\Users\Lenovo\project\Retail order data analysis\extracted_files"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [9]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Lenovo\\project\\Retail order data analysis\\extracted_files\\orders.csv")
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [14]:
#Handling Missing Values: Replace missing numerical values with defaults like 0 or drop rows with critical missing fields.
df.fillna(0, inplace = True)

In [169]:
#Renaming Columns: Standardize column names for clarity and compatibility with SQL databases (e.g., converting Order ID to order_id).

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [16]:
#Trimming Spaces: Remove trailing spaces from text fields.

text_col = df.select_dtypes(include = "object").columns
df[text_col] = df[text_col].apply(lambda x : x.astype(str).str.rstrip()) 
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [246]:
#CALCULATING DISCOUNTS---derive new columns discount , sale price and profit

In [18]:
df["discount"] = (df["list_price"] * df["discount_percent"])/100
df["sale_price"] = df["list_price"] - df["discount"]
df["profit"] = (df["sale_price"] - df["cost_price"]) * df["quantity"]
df["total_profit"] = df["profit"] * df["quantity"]

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,29.6,59.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,324.3,972.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-1.0,-2.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,804.0,4020.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-2.0,-4.0

In [20]:
order_table = df.iloc[:, :9]
sales_table = df.iloc[:, 9:]
#order_table.head()
#sales_table.tail()

,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_profit
9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-3.6,-10.8
9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,32.8,65.6
9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,69.6,139.2
9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.6,-14.4
9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,45.6,91.2

In [22]:
sales_table.insert(0,"sales_id",range(101,101+len(sales_table)))
sales_table.insert(1,"order_id",order_table["order_id"])

In [28]:
sales_table.tail()

,sales_id,order_id,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_profit
9989,10090,9990,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-3.6,-10.8
9990,10091,9991,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,32.8,65.6
9991,10092,9992,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,69.6,139.2
9992,10093,9993,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-3.6,-14.4
9993,10094,9994,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,45.6,91.2

In [32]:
order_table.to_excel("C:\\Users\\Lenovo\\Desktop\\retail_order\\order_table.xlsx",index = False)
sales_table.to_excel("C:\\Users\\Lenovo\\Desktop\\retail_order\\sales_table.xlsx",index = False)

In [ ]:
## connect to sql ##

In [22]:
import pymysql

In [24]:
myconnection = pymysql.connect(host = '127.0.0.1', user = 'root', passwd= 'Admin@123')

In [ ]:
#create database
myconnection.cursor().execute("create database retail_order")

In [ ]:
#insert order table

df1 = order_table
database_name = "retail_order"
table_name = "order_table"
dtype_mapping = {
    'int64': 'INTEGER',
    'float64': 'FLOAT',
    'object': 'TEXT',
    'datetime64[ns]': 'DATETIME',
    'bool': 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df1.columns, df1.dtypes))

create_table_query = f"CREATE TABLE {database_name}.{table_name} ({columns});"
myconnection.cursor().execute(create_table_query)

for i in range(0,len(df1)):
    myconnection.cursor().execute(f"insert into {database_name}.{table_name} values {tuple(df1.iloc[i])}")
    myconnection.commit()

In [28]:
#insert sales table

df2 = sales_table
database_name = "retail_order"
table_name = "sales_table"
dtype_mapping = {
    'int64': 'INTEGER',
    'float64': 'FLOAT',
    'object': 'TEXT',
    'datetime64[ns]': 'DATETIME',
    'bool': 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df2.columns, df2.dtypes))

create_table_query = f"CREATE TABLE {database_name}.{table_name} ({columns});"
myconnection.cursor().execute(create_table_query)

for i in range(0,len(df2)):
    myconnection.cursor().execute(f"insert into {database_name}.{table_name} values {tuple(df2.iloc[i])}")
    myconnection.commit()

In [2]:
import streamlit as st

In [ ]:
!streamlit run test.py